# compiled python files
__pycache__/
*.pyc
*.pyo

# alembic / migrations cache
migrations/**/__pycache__/

# virtual environment
.venv/
env/
venv/

# local db & instance folder
instance/
*.db

# IDE settings
.vscode/
